.home-body {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;

    background: url(../../assets/pics/home_background.jpg);
}

.baba {
    position: absolute;
    width: 710px;
    height: 931px;
    left: 0;
    top: 147px;
}

.main-rectangle {
    position: absolute;
    width: 619px;
    height: 381px;
    left: 566px;
    top: 301px;

    background: rgba(25, 41, 38, 0.35);
    border-radius: 20px;
}

.main-caption {
    position: absolute;
    width: 559px;
    height: 344px;
    left: 596px;
    top: 300px;

    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    text-align: center;

    color: #D7A43B;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}