.contacts-body {
    background: url(../../assets/pics/contacts_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
}
.contacts-main{
    margin-top: 200px;
    height: 100%;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-main_title{
    font-weight: 400;
    font-size: 128px;
    line-height: 128px;
    color: #D7A43B;
}

.contcats-numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contcats-numbers_title{
    font-weight: 400;
    font-size: 75px;
    line-height: 75px;
    color: #D7A43B;
    text-align: center;
}

.contcats-numbers_data{
    font-weight: 400;
    font-size: 75px;
    line-height: 75px;
    color: #D7A43B;
    text-align: center;
}

.contacts-social{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.contacts-social_title{
    font-family: 'Tsarevich', serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: #D7A43B;
    text-align: center;
}

.contacts-social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.contacts-social_icon_fb {
    width: 55px;
    height: 75px;
    background: url(../../assets/pics/fcb.png);
    cursor: pointer;
}

.contacts-social_icon_inst {
    width: 78px;
    height: 75px;
    margin-bottom: 3%;
    background: url(../../assets/pics/inst.png);
    cursor: pointer;
}

.contacts-social_icon_twt {
    width: 74px;
    height: 61px;
    margin-bottom: 3%;
    background: url(../../assets/pics/twt.png);
    cursor: pointer;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}

@media only screen and (max-width: 980px) {
    .contacts-social_title{
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    }
    .contacts-main_title{
        font-size: 60px;
        text-align: center;
    }
    .contcats-numbers_phone, .contcats-numbers_data{
        font-size: 36px;
    }

}

@media only screen and (max-width: 465px) {
    .contcats-numbers{
        flex-direction: column;
    }

}