.big{
    display: flex;
    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-size: larger;
    border: 4px solid black;
    font-size: 100px;
    flex-grow: 4;
}
.smaller{
    font-family: 'Tsarevich', serif;
    font-style: normal;
    margin-top: 5%;
    font-size: medium;
    border: 4px solid black;
    font-size: 50px;
}
.about-body {
    padding: 0,0,0,0;
    margin: 0,0,0,0;
    background: url(../../assets/pics/about_background.jpg);
}
.about-div{
    width: 99%;
    display: flex;
    margin-right: 3%;
    flex-direction: row;
    flex-shrink: 2;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid black;
}
.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
}
.baba-a {
    width: 36%;
    height: 86%;
    display: block;
    border: 4px solid black;
}

.about-text {
    width:  85%;
    margin-right: 9%;
    
    text-align: center;
    color: #D7A43B;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}