.big-a{
    display: flex;
    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-size: larger;
    font-size: 550%;
    flex-grow: 4;
}
.smaller-a{
    font-family: 'Tsarevich', serif;
    font-style: normal;
    margin-top: 5%;
    font-size: medium;
    font-size: 325%;
}
.about-body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: url(../../assets/pics/about_background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}
.about-div{
    width: 99%;
    display: flex;
    margin-right: 12%;
    flex-direction: row;
    flex-shrink: 2;
    justify-content: flex-end;
    align-items: center;
}
.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baba-a {
    width: 32%;
    height: 954px;
    display: flex;
    margin-bottom: 0%;
}

.about-text {
    width:  60%;
    margin-right: 4%;
    text-align: center;
    color: #D7A43B;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    .about-div {
      flex-direction: column;
      align-items: center;
    }
    .baba-a{
        display: none;
    }
    .big-a{

        font-size: 350%;
    }
    .smaller-a{
        font-size: 225%;
    }
}