*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #D7A43B;
}

.home_body{
  background-image: url(./assets/pics/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

