.header-menu_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 100px;
}
.menu-item{
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-evenly;
    gap: 1%;
    align-content: space-around;
}

.menu-item_link{
    color: #D7A43B;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    transition: all 0.6s ease-out;
}
.menu-item_link:hover{
    color: #27476a;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}

.item-icon{
    display: block;
    flex-shrink: 3;
}
@media only screen and (max-width: 1200px) {
    .header-menu {
      flex-direction: column;
      align-items: center;
    }
}