.review-body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /*noinspection CssReplaceWithShorthandSafely*/
    background: url(../../assets/pics/review_background.jpg);
    background-size:cover;
    /*noinspection CssReplaceWithShorthandSafely*/
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.add {
    display: flex;
    justify-content: space-between;
}

.review-caption {
    display: flex;
    width: 22%;
    height: 10%;
    margin-left: 8%;
    margin-top: 8%;

    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;

    color: #9D865C;
}


.leshui {
    display: flex;
    width: 60%;
    margin-right: 5%;
    margin-top: 7%;
    height: 10%;
    justify-content: space-between;
}

.txt {
    display: flex;
    /* width: 70%; */
    margin-left: 5%;
    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;

    color: #9D865C;
}

.cpt {
    margin-left: 5%;
    font-family: 'Tsarevich', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;

    color: #9D865C;
}

.line {
    width: 60%;
    height: 1%;
    margin-left: 34.7%;
    margin-top: 3%;

    border: 2px solid #D7A43B;
    transform: rotate(0.13deg);
}

.mavka {
    display: flex;
    width: 60%;
    margin-left: 34%;
    margin-top: 4%;
    height: 10%;
    justify-content: space-between;
}

.veles {
    display: flex;
    width: 60%;
    margin-left: 34%;
    margin-top: 4%;
    height: 10%;
    justify-content: space-between;
}

.card-image{
    height: 249px;
}

@font-face {
    font-family: 'Tsarevich';
    src: url('/src/assets/fonts/Tsarevich.ttf');
    font-style: normal;
    font-weight: normal;
}


@media only screen and (max-width: 900px) {
    .add{
        flex-direction: column;
    }

    .mavka{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .leshui{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* .txt{
        width: 100%;
    } */

    .veles{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .review-caption{
        align-self: center;
        margin: 30px 0 10px 0;
        display: block;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .txt,.cpt{
        font-size: 26px;
    }
    .card-image{
    height: 160px;
}
}
